@media screen and (min-width: 676px) {}

@media screen and (max-width: 290px) {
    body {}

    #itens {}

    #items-wrapper {
        display: flex;
        justify-content: center;

    }

    .item {}


    #img-inicio {
        width: 50%;
        border: 1px solid #5f636865;
        border-radius: 5px;

    }

    #title__project {
        margin: auto;
    }

    .container__main {
        width: 96%;
        margin: auto;
    }

    .cards {
        width: 80%;

    }

    .card__menores {
        width: 80%;
    }

    #card1 {
        width: 100%;
        margin: auto;
    }



}

@media screen and (max-width: 376px) {
    body {
        max-width: 376px;

    }

    .container__geral {}

    .nav {
        margin-top: 50px;

    }

    #items-wrapper {}

    .item {
        width: 350px;
        max-width: 370px;
        display: flex;
        justify-content: center;
    }

    #img-inicio {
        width: 100%;
        border: 1px solid #5f636865;
        border-radius: 5px;
    }

    #title__project {
        margin: auto;
    }

    .container__main {
        width: 97%;
        margin: auto;
    }

    .cards {}

    .card__menores {
        width: 90%;
    }

    #card__men {}

    #card1 {
        width: 95%;
        margin: auto;
    }



}

@media screen and (max-width: 391px) {
    body {
        max-width: 391px;
    }

    .nav {}

    .item {
        max-width: 374px;

    }

    .item img {

        width: 100%;
        border: 1px solid #5f636865;
        border-radius: 5px;
    }

    #title__project {
        margin: auto;
    }

    .cards {
        width: 95%;

    }

    .card__menores {
        width: 100%;
    }

    #card1 {
        width: 95%;
        margin: auto;
    }



}

@media screen and (max-width: 394px) {
    body {
        max-width: 394px;
    }

    .nav {}

    .item {
        max-width: 376px;
    }

    .item img {
       width: 100%;
        border: 1px solid #5f636865;
        border-radius: 5px;
    }

    #title__project {
        margin: auto;
    }

    .cards {
        width: 95%;

    }

    .card__menores {
        width: 100%;
    }

    #card1 {
        width: 95%;
        margin: auto;
    }



}

@media screen and (max-width: 361px) {
    body {
        max-width: 361px;
    }

    .nav {}

    .item img {
        max-width: 361px;
        width: 355px;
        border: 1px solid #5f636865;
        border-radius: 5px;
    }

    #title__project {
        margin: auto;
    }

    .cards {
        width: 95%;

    }

    .card__menores {
        width: 100%;
    }

    #card1 {
        width: 95%;
        margin: auto;
    }



}

@media screen and (max-width: 415px) {
    body {
        max-width: 415px;
    }

    .nav {
        margin-top: 50px;
    }

    .item {}

    .item img {

        max-width: 100%;

        border: 1px solid #5f636865;
        border-radius: 5px;
    }

    #title__project {
        margin: auto;
    }

    .cards {
        width: 95%;

    }

    .card__menores {
        width: 100%;
    }

    #card1 {
        width: 95%;
        margin: auto;
    }



}