@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Nunito:wght@200;300;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

body,
html {
    --color: #50b7f5;
    --background: #e6ecf0;
    width: 100%;
    max-width: 768px;
    background-color: #202124;
    margin: auto;
}



#menu__hamburguer {
    color: #5f6368;
    font-size: 35px;
    cursor: pointer;
}

#menu__hamburguer:hover {
    color: #fff;
}

.container__iconemenu__form {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #202124;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 0px 10px #5f6368;
    height: 50px;
    width: 100vw;
    top: 0;
    
}
#title__project{
    color: #5f6368;
    margin-right: 210px;
   
}

.conteudo__icones__nav {
    display: flex;

}

.nav__icones {}

.nav__icones ul {
    display: flex;
    margin-right: 60px;

}

.nav__icones ul li a {
    padding-right: 30px;


}


.nav {
    width: 100%;
    background-color: #5f6368;
    display: none;
    margin: auto;
    position: fixed;
    
}

.menu {}

.lista__menu {
   
}
.lista__menu li {
    padding: 10px;
    vertical-align: baseline;
    border-bottom: 1px solid #202124;
}

.lista__menu span {
    color: #fff;
}

.lista__menu li a {
    color: #fff;
    vertical-align: super;
}

.lista__menu li:hover {
    background-color: rgba(255, 255, 255, 0.142);
}

.container__main {
    width: 100%;


}
#items-wrapper{
    display: flex;
    justify-content: center;

}
.item{
    margin-top: 30%;
    width: 200px;
    max-width: 200px;
   
}

#img-inicio{
    
   
    border-radius: 5px;
}

.cards {
    width: 88%;
    border: 1px solid #5f6368;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 10px auto;



}

.card {
    height: 150px;


}

.card:hover {
    background-color: #5f636829;
}

.card span {
    display: flex;
    justify-content: center;

    font-size: 80px;
    padding: 10px;
    cursor: pointer;
    color: #5f6368;
}

.card h3 {
    color: #5f6368;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

/*card pequenos*/
.card__menores{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: auto;
    width: 92%;

   
  
}
.card__men{
    border: 1px solid #5f6368;
    margin: 5px;
    border-radius: 5px;
    display: flex;  
    flex-direction: column;
    width: 200px;
    height: 90px;

    
}
.card__men:hover{
    background-color: #5f636855;
}
.card__men  span{
    color: #5f6368;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
   
}
.card__men  h3{
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    color: #5f6368;
    text-transform: capitalize;
}

/*icones de expandir, dentro dos cards*/
#i-less {
    padding-top: 30px;
    margin-left: 43%;
    font-size: 50px;
    cursor: pointer;

}


#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7 {
    display: none;
    color: #fff;
    text-align: justify;
    margin: 5px 30px;
    border: 1px solid #5f6368;
    padding: 15px;
    border-radius: 5px;
    background-color: #5f636860;
}

/*spans dos icones da navegação do footer*/